@using StaffManagement.DataTransfer;

<div class="row">
    <div class="col-sm-12">
        <h1>Departments</h1>
    </div>
</div>

@await Html.PartialAsync("_indexPartial")
@section Scripts {
    <script src="~/js/departmentTableInit.js" type="module"></script>
}

