@using StaffManagement.DataTransfer;



<div class="row">
    <form id="searchForm">
        <div class="form-group">
            <div class="input-group">
                <input type="hidden" id="hiddenquery" />
                @Html.TextBox("query", "", new {@class="form-control", id="queryText", placeholder="Search"})
                <button type="button" class="btn btn-outline-secondary" id="clearBtn">Clear</button>
            </div>
            <input type="hidden" id="skip" name="skip" />
        </div>
        <div id="detailsTable"></div>
    </form>
</div>